html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}
body {
  background-color: #f3f5fc;
  color: #0a3871;
  padding: 2rem;
}

/* Header */
header {
  display: flex;
  padding: 4rem 8.4rem;
}

.title {
  font-size: 4rem;
  font-weight: bold;
  margin: 0 auto;
}

/* Main */

main {
  display: grid;
  grid-template-columns: 1fr 35rem;
  grid-template-rows: repeat(2 1fr);
}

.input-text {
  border: solid 1px #0a3871;
  border-radius: 1rem;
  color: inherit;
  font-family: inherit;
  grid-column: 1 - 2;
  margin: 2rem;
}

.response {
  grid-column: 2 / -1;
  grid-row: 1 / -3;
}

.respuesta {
  display: none;
}
